{% extends "base.html" %}

{% block content %}

    <br>
    Interesuje Cię jakaś firma? (tylko opjca, lepiej wybrac ze 3)<br>
    Szczegóły dotyczące firm -><br>
    Na skróty: wykresy?<br>
    DB - kalk, czyli jakie masz akcje wpisane do db, oblicz dzisiejszą cenę
            za akcję, porównaj z ceną wejścia, może dodatkowo obliczenie procentowe straty/zysku<br>
    Obecna cena za akcję CDR: {{ kurs }}
<br>
    Czy chcesz dodać firmę, którą chcesz obserwować?
    Twoja nazwa
    Adres, który umożliwi wyświetlenie
    <br>
    zm. bezwzgl.{{ zmiana_bezwzgledna }}, zmi.wzgl{{ zmiana_wzgledna }}
    <br>
    trans: {{ transakcje }}

{% endblock %}