{% extends "base.html" %}

{% block content %}
    {{ kalkulacje }}
         <form action="" method="post">
         {% csrf_token %}
    <br>Dodaj nową pozycję:<br>
    Krótka nazwa<input type="text" name="chosen_name_of_month"><br>
    Kwota<input type="text" name="month_cost"><br>
    zapas?<input type="text" name="jakis_zapas"><br>

         <input type="submit" value="send">
     </form>
    <table border="1">
        <tr>
        <th>Nazwa</th>
        <th>Kwota</th>
        <th>Dodatkowy opis</th>
        <th>Modyfikuj</th>
        <th>Usuń</th>
        <br></tr>
    {% for element in this_months_budget %}    <tr>
    <td>{{ element.chosen_name_of_month }}</td>
        <td>{{ element.month_cost }}</td>
        <td>{{ jakis_zapas }}</td>
        <td><a href="{% url 'modify-months' element.id %}"> Modyfikuj!</a></td>
        <td><a href="{% url 'delete-months' element.id %}"> Usuń</a></td>
        <br></tr>
    {% endfor %}
</table>
    <br>


{% endblock %}