{% extends "base.html" %}
{% load static %}
{% block content %}

    <a href="{% url 'months-budget' %}"><strong>&nbsp;Dotychczasowe zestawienia wydatków miesięcznych -></strong></a><br>
    <br><br>
    Aktualne pozycje w Twoim budżecie:<br>
    <small>* Jeśli coś już jest nieaktualne - wyrzuć pozycję!</small>
    <br>
    <table border="1">
        <tr>
        <th>&nbsp;Nazwa&nbsp;</th>
        <th>Kwota miesięczna</th>
        <th>Potrzebna dopłata?</th>
        <th>Co miesiąc?</th>
        <th>Opis</th>
        <th>Wliczyć w koszt miesiąca?</th>
        <th>&nbsp;Modyfikacja&nbsp;</th>
        <th>&nbsp;Usuwanie&nbsp;</th>
        </tr>
    {% for element in pozycje %}
        <tr>
        <td>{{ element.name }}</td>
        <td>{{ element.money }}</td>
        <td>
            <form action="" method="post">
             {% csrf_token %}
            <input type="checkbox" name="dolicz{{ element.id }}"
            onclick="document.getElementById('dodatkowo{{ element.id }}').style.display = this.checked ?
                    'block' : 'none'; this.form.elements['{{ element.id }}'].disabled = !this.checked">
            <div id="dodatkowo{{ element.id }}" style="display: none">
            <input type="number" step="any" min="1" name="{{ element.id }}" placeholder="wpisz kwotę dopłaty">
            </div>
        </td>

        <td>{% if element.monthly == True %}
{#            <ul style="color: blue; list-style-type: circle;"><li>Tak</li></ul>#}
            Tak
            {% elif element.monthly == False %} &nbsp;
            {% endif %}</td>

        <td>{{ element.description }}</td>
        <td>
            {% if element.monthly == True %}
            <input type="checkbox" name="counting" value="{{ element.money }}" checked>
            {% elif element.monthly == False %} &nbsp;
            <input type="checkbox" name="counting" value="{{ element.money }}">
            {% endif %}

            </td>
        <td><a href="{% url 'modify-budget' element.id %}"> Modyfikuj!</a></td>
        <td><a href="{% url 'delete-budget' element.id %}"> Usuń</a></td>
        </tr>
    {% endfor %}
    </table>
        <input type="submit" value="oblicz wydatki">
     </form>

    <br>
        {% if my_sum %}    <br>
            Twoje obliczenia: {{ my_sum }}<br>
            <a href="{% url 'months-proposition' %}"><button>
            Zapisz Twoje wyliczenia jako wydatki na ten miesiąc
            </button></a><br>
        {% endif %}
    <br>
    <br>
    <img src="{% static 'wykres-spending-pie.png' %}" alt="Not found" ><br>

    <br>
         <form action="" method="post">
         {% csrf_token %}
           <fieldset>
           <legend>Dodaj nową pozycję do budżetu</legend>

            Nazwa <input type="text" name="name" /><br>
            Kwota <input type="number" step="any" min="1" name="money" /><br>
            Czy to koszt comiesięczny?
            <input type="radio" value="True" name="monthly" />Tak
            <input type="radio" value="False" name="monthly" />Nie<br>
            Dodatkowy opis <input type="text" name="description" /><br>

            <input type="submit" value="wyślij">
           </fieldset>
        </form>

{% endblock %}