{% extends "base.html" %}
{% load static %}
{% block content %}
    <br>
    Wykresy dla dotychczasowych celów:
    <br><br>
        <img src="{% static 'wykres-innego-typu.png' %}" alt="Not found" ><br>
        <br>
    <img src="{% static 'wykres-inny8.png' %}" alt="Not found" ><br>
    <br>
        <img src="{% static 'wykres-inny9.png' %}" alt="Not found" ><br>
    <br>
    <img src="{% static 'wykres-inny10.png' %}" alt="Not found" ><br>
    <br>
        <img src="{% static 'wykres-inny15.png' %}" alt="Not found" ><br>
    <br>
    <img src="{% static 'wykres-inny16.png' %}" alt="Not found" ><br>
    <br>
        <img src="{% static 'wykres-inny24.png' %}" alt="Not found" ><br>
    <br>



{% endblock %}