{% extends "base.html" %}
{% load static %}
{% block content %}

    <br>
    <form action="" method="post">
    {% csrf_token %}
        Jaką kwotą chcesz nadpłacić kredyt {{ credits_objects.name }}?
        <input type="number" step="any" name="amount">
        <input type="submit" value="wyślij">
   </form>

    <br><br>
    <a href="{% url 'credit-mistake' %}">- - - w razie pomyłki w nadpłacie kredytu kliknij tu - - -</a>

    <br><br><br>

WPŁATY NA TEN CEL:<br>
{% for el in repaymentday_objects %}
    {{ el.repayment_value }} - {{ el.repayment_date }}<br>
    {% endfor %}


    <br><br>
    Dotychczas nadpłacono: {{ repayments_this_id.collected_money }} złotych.

{% endblock %}

