{% extends "base.html" %}
{% load static %}
{% block content %}

    <br>
    <form action="" method="post">
    {% csrf_token %}
        Jaką kwotą chcesz nadpłacić kredyt {{ credits_objects.name }}?
        <input type="number" step="any" name="amount">
        <input type="submit" value="wyślij">
   </form>

    <br><br>
    <a href="{% url 'credit-mistake' %}">- - - w razie pomyłki w nadpłacie kredytu kliknij tu - - -</a>

    <br><br>
    {% if credits_objects.id == 7 %}
    <img src="{% static 'wykres-kredyt-1.png' %}" alt="Not found" ><br>
    {% endif %}
    {% if credits_objects.id == 10 %}
    <img src="{% static 'wykres-kredyt-2.png' %}" alt="Not found" ><br>
    {% endif %}
    <br>
    Dotychczas nadpłacono: {{ repayments_this_id.collected_money }} złotych.

{% endblock %}

