{% extends "base.html" %}

{% block content %}

    {% for element in credits_objects %}
        <table border="1" bgcolor="#e6e6fa"><tr><td><center>
        <a href="{% url 'credit-payments' element.id %}">{{ element.name }}<br>
        Zarządzaj spłatą -></a><br>
        {{ element.credit_amount }}<br>
        {{ element.should_end_on }}<br>
        {{ element.description }}
            <table>
        <tr><td><br>
        <a href="{% url 'modify-credit' element.id %}"><li> Modyfikuj!</li></a>
        <a href="{% url 'delete-credit' element.id %}"><li> Usuń</li></a>
            </td>
        </tr>
        </table>
            </center></td>
        </tr></table>
    <br>
    {% endfor %}

    <br>

    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
        <legend>Nowy kredyt</legend>
        {{ form.as_ul }}
        <input type="submit" value="send"></fieldset>
    </form>
    <br>

{% endblock %}
