{% extends "base.html" %}

{% block content %}

    {% for element in credits_objects %}
        <table border="1" bgcolor="#e6e6fa" style="float: left" ><tr><td><center>
        <a href="{% url 'credit-payments' element.id %}">{{ element.name }}<br>
        Zarządzaj spłatą -></a><br>
        {{ element.credit_amount }} zł<br>
        do: {{ element.should_end_on }}<br>
        {{ element.description }}
            <table style="float: center" >
        <tr><td><br>
        <a href="{% url 'modify-credit' element.id %}"><li> Modyfikuj!</li></a>
        <a href="{% url 'delete-credit' element.id %}"><li> Usuń</li></a>
            </td>
        </tr>
        </table>
            </center></td>
        </tr></table>

    {% endfor %}

    <br><br><br><br><br><br><br><br>
    <br><br><br><br>
    <form action="" method="post" style="float: left" >
        {% csrf_token %}
        <fieldset>
        <legend>Nowy kredyt</legend>
        {{ form.as_ul }}
        <input type="submit" value="wyślij"></fieldset>
    </form>
    <br>

{% endblock %}
