{% extends "base.html" %}

{% block content %}

{#    <br>czy dodać własny order punktowy, ale nie unique, a potem przy wyświetlaniu order_by po nim?<br>#}
           <form action="" method="post">
         {% csrf_token %}
   {% for element in skarbonki %}
    <input type="radio" name="choose" value="{{ element.money_for }}">{{ element.money_for }}<br>
    {% endfor %}
         <input type="submit" value="send">
     </form>

    {% if chosen %}
        <input type="number" step="any" name="congrats">
    {% endif %}

    Twoje obecne cele: <br>
    <table border="1">
        <tr>
        <th>Nazwa</th>
        <th>Kwota</th>
        <th>Kwota maksymalna???</th>
        <th>Miesięcznie?</th>
        <th>Opis</th>
        <th>zapas</th>
        <td> Modyfikuj!</td>
        <td> Usuń</td>
        </tr>
    {% for element in skarbonki %}
        <tr>
    <td>{{ element.money_for }}</td>
        <td>{{ element.m_min }}</td>
        <td>{{ element.m_max }}</td>
        <td>{{ element.month }}</td>
        <td>{{ element.opis }}</td>
        <td>{{ element.zapas}}</td>
        <td><a href="{% url 'modify-saving' element.id %}"> Modyfikuj!</a></td>
        <td><a href="{% url 'delete-saving' element.id %}"> Usuń</a></td>
        </tr>
    {% endfor %}
</table>

<br>

{% endblock %}
