{% extends "base.html" %}
{% load static %}
{% block content %}


    <table border="1">
        <tr>
        <th> &nbsp; Nazwa wpływu&nbsp; </th>
        <th> &nbsp;Kwota przychodu&nbsp; </th>
        <th> Opis </th>
        <th> &nbsp;Modyfikacja&nbsp; </th>
        <th> &nbsp;Usuwanie&nbsp; </th>
        </tr>
    {% for element in all_income %}
        <tr>
        <td>{{ element.name_of_income }}</td>
        <td>{{ element.value_of_income }}</td>
        <td>{{ element.income_description }}</td>
        <td><a href="{% url 'modify-income' element.id %}"> Modyfikuj! </a></td>
        <td><a href="{% url 'delete-income' element.id %}"> Usuń </a></td>
        </tr>
    {% endfor %}
    </table>

    <br>
    Razem przychód: {{ calc }}
    <br><br>
<form action="" method="post">
{% csrf_token %}
Jeśli chcesz uwzględnić dodatkową kwotę:
    <input type="number" step="any" min="1" name="additional_income"
                       placeholder="Dolicz tymczasowy dochód...">
<input type="submit" value="oblicz">
</form>
    <br>{% if sum_of %}Suma przychodu, z uwzględnieniem dodatkowej kwoty: {{ sum_of }}{% endif %}
    <br>
    <img src="{% static "wykres-income-for-spending.png" %}" alt="Not found" ><br><br>

    <form action="" method="post">
    {% csrf_token %}
                   <fieldset>
           <legend>Dodaj nowy przychód</legend>

    Nazwa dla przychodu <input type="text" name="name_of_income" /><br>
    Kwota wpływu <input type="number" step="any" min="1" name="value_of_income" /><br>
    Opcjonalny opis <input type="text" name="income_description" /><br>

        <input type="submit" value="wyślij">
                       </fieldset>
    </form>

{% endblock %}
