{% extends "base.html" %}

{% block content %}

    {{ msg }}<br><br><br>
    <form action="" method="post">
    {% csrf_token %}
        <fieldset>
        <legend>Wybierz którego celu dotyczy pomyłka?</legend>
        <select name="mistake_in" id="mistake_id">
        {% for element in all_piggy_banks %}
        <option value="{{ element.id }}">{{ element.money_for }}</option>
        {% endfor %}
        </select>
        <br><br>
        <strong>Aby poprawnie naprawić pomyłkę podaj kwotę jaką błędnie wpisano:</strong><br>
            <input type="number"  name="mistake_value"><br>
        <small>Kwota zostanie odjęta od twoich uzbieranych środków oraz zostanie usunięty błędny wpis.</small>
            <br><br><br>
            <p style="color: darkred"><strong>A teraz podaj kwotę poprawną:</strong></p>
            <input type="number"  name="correct_value">
            <input type="submit" value="send">
        </fieldset>
    </form>

{% endblock %}
