{% extends "base.html" %}

{% block content %}
   <br><br>
<p style="text-align: center">
    <a href="{% url 'saving-add' %}" style="color: #0f0f93">&nbsp;Dodaj nowy cel</a>
    <br>
<p style="text-align: center">
    <a href="{% url 'saving-goals' %}" style="color: #0f0f93">&nbsp;Zobacz dotychczasowe cele -></a>
    <br><br>
<a href="{% url 'saving-collected' %}" style="color: #0f0f93">&nbsp;Pilnuj realizacji celów</a>
    <br><br>
<a href="{% url 'saving-mistake' %}" style="color: #0f0f93">&nbsp;Pomyłka w twojej wpłacie na określony cel? Zmień to!</a>
    <br><br>
<a href="{% url 'charts' %}" style="color: #0f0f93">&nbsp;Wykresy</a>
<br><br><br><br>
<a href="{% url 'saving-time' %}" style="color: #0f0f93">&nbsp;Oblicz: ile czasu muszę odkładać, aby coś mieć?</a>
<br><br>
<a href="{% url 'saving-amount' %}" style="color: #0f0f93">&nbsp;Oblicz: jaką kwotę powinno się odkładać,
                                            żeby mieć coś w określonym czasie.</a>
</p>
<br>




    <br>

{% endblock %}