{% extends "base.html" %}

{% block content %}
   <br><br><br>
    <ul>
        <li><a href="{% url 'saving-add' %}">Dodaj nowy cel</a></li>
        <br><br>
        <li><a href="{% url 'saving-goals' %}">Zobacz dotychczasowe cele</a></li>
        <br><br>
        <li><a href="{% url 'saving-collected' %}">Pilnuj realizacji celów - WPŁATY</a></li>
        <br><br>
        <li><a href="{% url 'saving-mistake' %}">Pomyłka w twojej wpłacie na określony cel? Zmień to!</a></li>
        <br><br>
        <li><a href="{% url 'charts' %}">Wykresy osiągania celów</a></li>
        <br><br><br><br><br><br>
        <li><a href="{% url 'saving-time' %}">Oblicz: ile czasu muszę odkładać, aby coś mieć?</a></li>
        <br><br>
        <li><a href="{% url 'saving-amount' %}">Oblicz: jaką kwotę powinno się odkładać,
        żeby mieć coś w określonym czasie.</a></li>
    </ul>
    <br><br>

{% endblock %}