{% extends "base.html" %}

{% block content %}

    Twoje obecne cele: <br>
    <table border="1">
        <tr>
        <th>Nazwa celu</th>
        <th>Potrzebna kwota</th>
        <th>Opis</th>
        <td> Modyfikacja</td>
        <td> Usuwanie</td>
        </tr>
    {% for element in all_piggy_banks %}
        <tr>
        <td>{{ element.money_for }}</td>
        <td>{{ element.m_min }}</td>
        <td>{{ element.description }}</td>
        <td><a href="{% url 'modify-saving' element.id %}"> Modyfikuj!</a></td>
        <td><a href="{% url 'delete-saving' element.id %}"> Usuń</a></td>
        </tr>
    {% endfor %}
    </table>

    <br>
    <form action="" method="post">
    {% csrf_token %}
        <br>Dodaj nową pozycję:<br>
        {{ form.as_p }}
        <input type="submit" value="wyślij">
    </form>

{% endblock %}
