{% extends "base.html" %}

{% block content %}

{#    <br>czy dodać własny order punktowy, ale nie unique, a potem przy wyświetlaniu order_by po nim?<br>#}
    Twoje obecne cele: <br>
    <table border="1">
        <tr>
        <th>Nazwa</th>
        <th>Kwota</th>
        <th>Opis</th>
        <td> Modyfikuj!</td>
        <td> Usuń</td>
        </tr>
    {% for element in skarbonki %}
        <tr>
    <td>{{ element.money_for }}</td>
        <td>{{ element.m_min }}</td>
        <td>{{ element.opis }}</td>
        <td><a href="{% url 'modify-saving' element.id %}"> Modyfikuj!</a></td>
        <td><a href="{% url 'delete-saving' element.id %}"> Usuń</a></td>
        </tr>
    {% endfor %}
</table>

<br>
         <form action="" method="post">
         {% csrf_token %}
    <br>Dodaj nową pozycję:<br>
    Nazwa celu<input type="text" name="money_for"><br>
    Kwota min<input type="text" name="m_min"><br>
    Dodatkowy opis<input type="text" name="opis"><br>

         <input type="submit" value="send">
     </form>
{{ eli }}
{#    {{ zlap }}<br>{{ zlap.payment_skarbonki }}#}
{% endblock %}
