{% extends "base.html" %}

{% block content %}

    <br>
    Trudno oszczędzać? Teraz może być łatwiej...<br>
    <a href="{% url 'skar-cele' %}">&nbsp;Zobacz dotychczasowe cele -></a><br>
    <a href="{% url 'skar-collected' %}">&nbsp;Pilnuj realizacji ?</a><br>

    <a href="{% url 'skar-nowy' %}">&nbsp;w trakcie - nowy-wykresy</a><br>
    <a href="{% url 'skar-czas' %}">&nbsp;Na skróty: ile czasu muszę odkładać aby coś mieć?</a><br>
    <a href="{% url 'skar-kwota' %}">&nbsp;Na skróty: jaką kwotę powinno się odkładać, żeby mieć w określonym czasie.</a><br>
    <br>

{% endblock %}