{% extends "base.html" %}

{% block content %}
<br><br>
           <form action="" method="post">
         {% csrf_token %}
                                   <fieldset>
                  <legend>Którego celu chcesz dopilnować?</legend>
   {% for element in skarbonki %}
    <li><input type="radio" name="choose" value="{{ element.id }}">
      {{ element.money_for }}</li><hr>
    {% endfor %}
         <input type="submit" value="send">
                         </fieldset>
     </form><br><br>
hm
<br>

{% endblock %}