{% extends "base.html" %}

{% block content %}

 <table border="1">
        <tr>
        <th>Nazwa</th>
        <th>Cena wejścia</th>
        <th>Udziały</th>
        <th>Wartość</th>
        <th>Cena</th>
        <th>Dywidenda?</th>
        <th>Rodzaj rynku</th>
        <th>Modyfikacja</th>
        <th>Usuwanie</th>
        </tr>
         {% for element in ctx %}
        <tr>
        <td>{{ element.name }}</td>
        <td>{{ element.enter_price }}</td>
        <td>{{ element.interests }}</td>
        <td>{{ element.value_of }}</td>
        <td>{{ element.price }}</td>
        <td>{% if element.dividend == True %}Tak
            {% elif element.dividend == False %}Nie
            {% else %}Być może
            {% endif %}</td>

        <td>{{ element.type_of_market }}</td>
        <td><a href="{% url 'modify-stock' element.id %}"> Modyfikuj!</a></td>
        <td><a href="{% url 'delete-stock' element.id %}"> Usuń</a></td>
        </tr>
         {% endfor %}
        </table>
    <br>
    Szczegóły dotyczące firm -><br>
    {% for elem in ctx %}
        {% if elem.www %}
        <a href="{{ elem.www }}"> strona iwestora {{ elem.name }}</a><br>
        {% endif %}
    {% endfor %}
    <small>* Jeśli nie wyświetla się link do strony, dodaj link do modelu!</small><br>

    <br>
    <form action="" method="post">
    {% csrf_token %}
        <fieldset>
       <legend>Dodaj nową pozycję:</legend>

            Nazwa dla określonej akcji <input type="text" name="name" /><br>
            Cena w momencie zakupu <input type="number" step="any" min="1" name="enter_price" /><br>
            Liczba zakupionych udziałów <input type="number" min="1" name="interests" /><br>
            Wartość, którą chcesz wpisać <input type="number" step="any" name="value_of" /><br>
            Cena, jaką chcesz zapisać <input type="number" step="any" name="price" /><br>
            Czy jest wypłacana dywidenda?<br>
            <input type="radio" value="True" name="dividend" />Tak<br>
            <input type="radio" value="False" name="dividend" />Nie<br>
            <input type="radio" value="Null" name="dividend" />Byćmoże<br>
            Nazwa dla rodzaju rynku akcji <input type="text" name="type_of_market" /><br>
            Link do strony inwestora dla danej akcji <input type="text" name="www" /><br>
            <input type="submit" value="wyślij">
        </fieldset>
    </form>
{% endblock %}