body {
    background-image: url(bg.jpg);
    background-color: antiquewhite;
    background-size: cover;
    color: #0f0f93;
    font-family: Monospaced;
    margin-right: 20px;
}

a, a:link, a:visited {
    color: #0f0f93;
    text-decoration: none;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  color: cornflowerblue;
}

.sidenav a, a:visited {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: cornflowerblue;
  display: block;
  background-color: #111;
}

.sidenav a:hover {
  color: darkblue;
}

.main {
  margin-left: 200px;
  margin-right: 20px;
  font-size: 22px;
  padding: 0px 10px;
  color: #0f0f93;
}


